@model MyLibrary.Model.Contact
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>@Html.DisplayFor(model => model.FirstName)</p>
<p>@Html.DisplayFor(model => model.LastName)</p>
<p>@Html.DisplayFor(model => model.Email)</p>
<p>@Html.DisplayFor(model => model.Phone)</p>

<a href="/send/Index">Send sms</a><br>

<a href="/send/Index">Send email</a>
